.cardInactive{
	cursor: default;
	opacity: .5;
	transition: opacity box-shadow 1.5s;
	transition-timing-function: ease;
}
.cardActive{
	cursor: default;
	box-shadow: 10px 10px 5px #aaaaaa;
	border: .5px solid #aaaaaa;
	opacity: 1;
	transition: opacity box-shadow 1.5s;
	transition-timing-function: ease;
	width: 350px;
}