.Item {
	position: absolute;
	top: 50%;
	left: 50%;
}

.RotatingImg {
	width: 100px;
}

.GeImg{
	width: 75px;
}
@media screen and (min-width: 2560px) {
	.RotatingImg {
		width: 150px;
	}
	.GeImg{
			width: 125px;
		}
}	
@media screen and (max-width: 768px) {
	.RotatingImg {
		width: 75px;
	}
	.GeImg{
			width: 50px;
	}
}	
@media (max-width: 553px) {
	.RotatingImg {
		width: 75px;
	}
	.GeImg{
		width: 25px;
	}
}	
@media screen and (max-width: 375px) {
	.RotatingImg {		
		width: 50px;
	}
	.GeImg{
		width: 25px;
	}
}



.CarouselText {
	font-family: "Righteous", cursive;;
	color: #0a2299;
	text-shadow: 1px 1px 1px black;
	font-size: 1em;
	text-align: center;
}

.Item:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(6) {
  transform: translate(-50%, -50%) rotate(150deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(8) {
  transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(9) {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(11) {
  transform: translate(-50%, -50%) rotate(300deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-140px) rotateX(90deg);
  }
}

.Item:nth-child(12) {
  transform: translate(-50%, -50%) rotate(330deg) translateY(-260px) rotateX(90deg);
}
@media screen and (min-width: 2560px) {
  .Item:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translateY(-400px) rotateX(90deg);
  }
}
@media (max-width: 768px) {
  .Item:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translateY(-230px) rotateX(90deg);
  }
}
@media (max-width: 489px) {
  .Item:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translateY(-200px) rotateX(90deg);
  }
}
@media (max-width: 436px) {
  .Item:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translateY(-180px) rotateX(90deg);
  }
}
@media screen and (max-width: 375px) {
  .Item:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translateY(-140px) rotateX(90deg);
  }
}