@media (max-width: 425px) {
    .NavbarBrand{
        font-size: 1em;
    }
}
@media (max-width: 375px) {
    .NavbarBrand{
        font-size: .9em;
    }
}
@media (max-width: 320px) {
    .NavbarBrand{
        font-size: .7em;
    }
    .NavbarBrand img{
        width: 30px;
    }
}