.Space{
	margin-top: 5%;
}

#carousel{
	overflow:hidden;
	height:300px;
}

@media screen and (min-width: 2560px) {
	.Space{
		padding-top: 3%;
	}		
}
@media (max-width: 1050px) {
	.Space{
		padding-top: 7%;
	}
}	
@media (max-width: 425px) {
	.Space{
		padding-top: 14%;
	}
}

