.HiddenMdUp{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
.JustifyContentCenter{
	display: flex;
	justify-content: center;
}
.SmSpace{
	margin-top: 3%;
}

@media (min-width: 768px){
	.HiddenMdUp{
		display: none;
	}
}	