.HiddenMdDown{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
.HiddenMdUp{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
.JustifyContentCenter{
	display: flex;
	justify-content: center;
}

.Space {
	margin-top: 5%;
}
@media screen and (min-width: 2560px) {
	.Space{
		padding-top: 3%;
	}
}	
@media (max-width: 1050px) {
	.Space{
		padding-top: 7%;
	}
}
@media (min-width: 768px){
	.HiddenMdUp{
		display: none;
	}
}	
@media (max-width: 767px){
	.HiddenMdDown{
		display: none;
	}
}
@media (max-width: 425px) {
	.Space{
		padding-top: 14%;
	}
	
}	
.SmSpace{
	margin-top: 3%;
}